#loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 3.5vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}

#loading p {
    width: 60vw;
}

#loading img {
    width: 100%;
    height: 100%;
    filter: brightness(25%);
    position: absolute;
    top: 0px;
    z-index: -1;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading-circle {
    border: 8px solid rgba(255, 255, 255, 0.3);
    border-top: 8px solid rgba(255, 255, 255, 1);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}