#question {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 20px;
}

#title-circle-content {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 15vw;
    margin-right: 27vw;
}

#question-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    line-height: 44px;
    text-align: center;
    color: rgba(28, 38, 53, 1);
    width: 30%;
}

#answers {
    display: flex;
    gap: 10px;
    width: 65%;
    justify-content: center;
    flex-wrap: wrap;
}

#answers button {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 16px;
    text-align: left;
    color: rgba(28, 38, 53, 1);
    border: 1px solid rgba(91, 193, 237, 1);
    cursor: pointer;
    background: rgba(255, 255, 255, 1);
    border-radius: 10px;
    padding: 10px 20px;
    min-width: 180px;
}

#answers button:hover {
    background: rgba(91, 193, 237, 1);
    color: rgba(255, 255, 255, 1);
}

#answers button.selected {
    background: rgba(91, 193, 237, 1);
    color: rgba(255, 255, 255, 1);
}

#buttons {
    display: flex;
    gap: 15px;
}

#buttons a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 13px;
    padding-bottom: 13px;
}

#back {
    color: rgba(103, 116, 135, 1);
}

#back:hover {
    color: rgba(28, 38, 53, 1);
}

#next {
    text-decoration: none;
    background: rgba(195, 237, 255, 1);
    color: rgba(28, 38, 53, 1);
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#next:hover {
    background: rgba(170, 221, 243, 1);
}

@media (max-width: 768px) {
    #title-circle-content {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 5vw;
        margin-right: 0;
        margin-bottom: 5vw;
    }

    #question-title {
        width: 70%;
    }
}